<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCk3GoUvFAXW_u1C243Q_0Jmb4VgOkWJN0</string>
	<key>GCM_SENDER_ID</key>
	<string>1092978669938</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pair6.educationApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>educationappdb</string>
	<key>STORAGE_BUCKET</key>
	<string>educationappdb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1092978669938:ios:2022cccc2c9a5d4b2d05eb</string>
</dict>
</plist>